@import '../../styles/index.scss';

.li_MovieCard {
    margin: 10px auto;
    padding: 20px;
    
    .li_Movie_img {
        border: 2px solid $bg-color-2;
        @include media(desktop) {
            transition: 0.5s;
            &:hover {
                opacity: 0.5;
                transform: translateY(-30px);
                transition: 0.5s;
            }   
        }
    }
    
    .li_Movie_title {
        color: $bg-color-2;
        background-color: $bg-color-4;
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
        @include media(tablet) {
            width: 550px;
            margin: 5px auto;
        }
    }

    .btn-card {
        padding: 10px;
        border: none;
        background-color: $bg-color-4;
        color: $bg-color-2;
        border-radius: 5px;
        width: 30%;
        @include media(tablet) {
            width: 20%;
            height: 50px;
        } 
        &.btn-success {
            background-color: green;
        }
    }
}