@import '../../styles/index.scss';

.movieDetails_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    @include media(tablet) {
        margin: 10px 0;
    }
    @include media(desktop) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 700px;
    }

    .movieDetails_Img {
        margin: 0 auto;
        @include media(desktop) {
            height: auto;
            object-fit: cover;
            margin: unset;
        }
    }
    
    .movieDetails_Info {
        color: $bg-color-2;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $bg-color-4;
        margin: 0 auto;
        width: 90%;
        @include media(tablet) {
            height: 450px;
            justify-content: unset;
        }
        @include media(desktop) {
            width: 50%;
            margin: unset;
        }

        .titulo {
            @include media(tablet) {
                font-size: 40px;
            }
        }

        .titulo_MD_Cont {
            color: $bg-color-5;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                color: $bg-color-2;
                @include media(tablet) {
                    font-size: 40px;
                }
            }

            @include media(tablet) {
                padding: 10px 0;
            }

            @include media(desktop) {
                flex-direction: row;
                justify-content: center;
            }
        }

        .genero_MD_Cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $bg-color-5;
            border-bottom: 2px solid $bg-color-2;
            padding: 10px 0;
            p {
                color: $bg-color-2;
                text-align: start;
                @include media(tablet) {
                    font-size: 40px;
                }
            }
            @include media(desktop) {
                flex-direction: row;
                justify-content: center;
            }
        }

        .descripcion_MD_Cont {
            color: $bg-color-5;
            margin: 10px 0;
            p {
                color: $bg-color-2;
            }
        }
    }
}