@import '../../styles/index.scss';

.navBar_Contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px auto;

    .fa-film {
        color: $bg-color-3;
        font-size: 40px;
        margin: 5px;
    }
    
    .NavBar_titulo {
        color: $bg-color-2;
        margin: 5px;
    }
}